$white-1: white;

$black-1: #1a1a1a; // Darker shade of black
$black-2: #333333; // Even darker shade of black

$red-1: #ff0000; // Red color
$red-2: #cc0000; // Darker shade of red

$blue-1: #ff9999; // Lighter variant of red
$blue-2: #ffb3b3; // Even lighter variant of red
