$white-1: white;
$white-2: #d1d1d1;

$black-1: #1a1a1a; // Darker shade of black
$black-2: #333333; // Even darker shade of black
$black-3: #4d4d4d; // Slightly lighter shade of black
$black-4: #666666; // Medium shade of black
$black-5: #808080; // Light shade of black (gray)

$red-1: #ff0000; // Red color
$red-2: #cc0000; // Darker shade of red
$red-3: #990000; // Even darker shade of red
$red-4: #660000; // Darkest shade of red

$blue-1: #ff9999; // Lighter variant of red
$blue-2: #ffb3b3; // Even lighter variant of red
$blue-3: #ffd6d6; // Lightest variant of red
$blue-4: #ffebeb; // Very light variant of red
$blue-5: #ffe6e6; // Softest shade of red

$purple-1: #0000ff; // purple color
$purple-2: #0000cc; // Darker shade of purple
$purple-3: #000099; // Even darker shade of purple
$purple-4: #000066; // Darkest shade of purple
$purple-5: #3333ff; // Slightly lighter shade of purple
$purple-6: #6666ff; // Lighter shade of purple
$purple-7: #9999ff; // Even lighter shade of purple
$purple-8: #ccccff; // Lightest shade of purple
$purple-9: #e6e6ff; // Softest shade of purple

$yellow-1: #ffff00; // Yellow color
$yellow-2: #ffcc00; // Darker shade of yellow
$yellow-3: #ff9900; // Even darker shade of yellow
$yellow-4: #ff6600; // Darkest shade of yellow
$yellow-5: #ffff33; // Slightly lighter shade of yellow
$yellow-6: #ffff66; // Lighter shade of yellow
$yellow-7: #ffff99; // Even lighter shade of yellow
$yellow-8: #ffffcc; // Lightest shade of yellow
$yellow-9: #ffffe6; // Softest shade of yellow
